ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

#paragraph{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
  border: 2px solid black;
}

.highlight {
  background-color: yellow;  /* Customize the highlighting style */
  font-size: 30px;
}

.highlight-red{
  background-color: rgb(218, 50, 50);  /* Customize the highlighting style */
  font-size: 30px;
}

#btn-grp{
  padding: 5px;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

#btn-grp button{
  width: 200px;
  padding: 20px;
  font-size: 25px;
}


#currentTime{
  font-size: 40px;
  color: #d63d3d;
}

#result{
  font-size: 60px;
  color: #8602a4;
  font-style: italic;
  
}