body{
	background-color: #99ffcc;
}

#bulb{
	width: 20px;
	height: 20px;
}

/*#image1{
	padding: 5px;
	width: 172;
	height: 148px;
}*/

#status{
	color: darkblue;
	font-size: 20px;
}

.row {
  display: flex;
}


.column {
  flex: 50%;
  padding: 10px;
}

