<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Master</title>
    
    <link rel="stylesheet" type="text/css" href="../css/keytyping.css">
</head>
<body>
    <div id="navigation"></div>

    <section id="btn-grp">
        <div>
            <button onclick='start(this)'>START</button>
            <button onclick='change(this)'>CHANGE</button>
        </div>

        <div>
            <h1 id="realTime"><span id="currentTime"></span></h1>
        </div>
    </section>

    

    <section>
        <p id="paragraph">This is simple {?~!@#$%^&*()-_+} typing</p>
    </section>
    <section>
        <div>
            <p id="result"></p>
        </div>
    </section>
    

    
    <script type="text/javascript" src="../js/navigation.js"></script>
    <script type="text/javascript" src="../js/keytyping.js"></script>
</body>
</html>